{% extends 'UserBundle::layout.html.twig' %}

{% block fos_message_content %}
    <div class="user-interface-page-header">
        <div class="page-name">
            Boite de réception
        </div>
        <div class="new-message">
            <a href="{{ path('fos_message_thread_new') }}" >
                <button type="submit" class="btn btn-nao">
                    Nouveau message
                </button>
            </a>
        </div>
    </div>
    {% include 'FOSMessageBundle:Message:threads_list.html.twig' with {'threads': threads} %}

{% endblock %}
