{% extends "UserBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Liste des utilisateurs{% endblock %}

{% block body %}
    <h2>Liste des utilisateurs</h2>

    <ul>
    {% for key, user in users %}
        <li>
            <a href="{{ path('nao_show_user', {'id': user.id}) }}">{{ user.username }}</a>
            {% if is_granted('ROLE_ADMIN') %}
                -
                <a href="{{ path('nao_edit_user', {'id': user.id}) }}">edit</a>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% endblock %}