{% extends "AppBundle::layout.html.twig" %}

{% block content %}
    <div class="container quiz">
        <div class="row">
            <div class="quiz-box">
                {{ form_start(form) }}
                    {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}