{% extends "AppBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Crédits{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="container">
                <div class="page-article">
                    <div class="page-title">
                        <h1>Crédits</h1>
                    </div>

                    <div class="page-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec mauris ipsum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Ut hendrerit nisl cursus tellus ultrices rhoncus. Integer in dolor odio. Aliquam vitae eros eget lacus ullamcorper ullamcorper a vel magna. Phasellus pulvinar purus diam, vitae pretium tellus auctor eget. Cras sagittis arcu sed diam laoreet, luctus maximus nisi egestas. Morbi faucibus pellentesque enim, et lobortis massa egestas vel. Donec ullamcorper urna sit amet cursus scelerisque. Suspendisse tristique mi vel libero fermentum, id ornare erat cursus. Nullam molestie condimentum arcu, eu vehicula ligula laoreet dignissim. Maecenas vitae mi nec sapien facilisis molestie.<br>

                        <h3>Lorem Ipsum</h3>

                        Pellentesque et justo facilisis, egestas tortor quis, interdum magna. Curabitur vitae gravida ex. Praesent tempus nec velit et viverra. Nulla quis faucibus ex, et mollis tellus. Cras placerat sed nulla nec ullamcorper. Donec vehicula, lectus non tincidunt hendrerit, lacus arcu vestibulum lacus, at placerat lorem lorem pulvinar elit. Morbi in nunc sollicitudin lorem euismod posuere quis id nulla. Etiam vel malesuada ligula. Nulla pellentesque mattis elit sed mattis. Sed luctus quis ipsum nec consequat.

                        Vivamus arcu ipsum, aliquam vitae dignissim in, tincidunt vel dolor. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis eget accumsan felis. Nam fermentum ex nibh, et maximus justo iaculis non. Phasellus blandit augue sed euismod dictum. Nam finibus et lacus nec pulvinar. Duis sollicitudin magna sed vestibulum hendrerit. Vestibulum eleifend enim ligula, eget aliquam felis consequat nec. Sed cursus, neque et placerat ultrices, quam magna consequat nunc, vitae vehicula justo odio sed urna. Donec porta lorem sed ultrices pellentesque. Maecenas in convallis odio, sit amet auctor urna. Morbi non mattis justo, a dapibus lectus. Morbi vel diam vel odio semper fringilla vitae a justo. Integer condimentum, turpis at congue facilisis, diam velit gravida lectus, a condimentum magna justo vitae magna.<br><br>

                        Proin blandit urna ut accumsan posuere. Aenean sem sem, molestie vel sapien ac, luctus luctus enim. Aliquam condimentum fermentum ex, sed venenatis tellus lobortis in. Sed vestibulum pellentesque nisl, nec ultrices ipsum porta vel. Nam mollis, tellus in pharetra elementum, nulla mauris suscipit orci, eu cursus dolor elit a mi. Sed vitae augue fermentum, molestie nulla pulvinar, sagittis ligula. Donec vitae nibh lorem.

                        Nullam accumsan nulla nec leo semper, eu congue tortor sagittis. Morbi molestie nisi nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec dolor magna, venenatis vitae mollis sed, blandit quis quam. Etiam id dui quis ante rutrum feugiat sit amet ut velit. Cras sit amet rhoncus erat, euismod tincidunt justo. Integer id ex at eros egestas elementum. Quisque id eros mattis, rutrum augue eleifend, auctor mauris.

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}