{% extends "AppBundle::layout.html.twig" %}

{% block content %}
    <h1>Page d'accueil</h1>
    <ul class="list-group list-group-flush">
    	<li class="list-group-item"><a href="{{ path('nao_dashboard') }}">dashboard</li>
    	<li class="list-group-item"><a href="{{ path('nao_obs_search') }}">chercher observation</li>
    </ul>
{% endblock %}