{% extends "AppBundle::layout.html.twig" %}

{% block content %}
    <div class="container quiz">
        <div class="row">
            <div class="quiz-box">
                <div class="quiz-title">Quizz oiseaux</div>
                <div class="button-quiz">
                    <a href="#" id="start" class="btn btn-nao">Commencer le quiz</a>
                </div>
                <br/>
                <div class="questions">
                    <div class="quiz-image"></div>
                    <div id="question"></div>
                    <br/><br/>
                    <form id="form" class="form-quiz">

                    </form>
                    <br/>
                    <div class="button-quiz">
                        <a href="#" id="next" class="btn btn-nao">Suivant</a><br/>
                    </div>
                    <div id="progressbar" class=""></div>
                </div>
                <div id="result"></div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"></script>
    <script type="text/javascript" src="{{ asset('js/quiz.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.simple-quiz').simpleQuiz();
        });
    </script>
{% endblock %}