<div class="modal fade" id="imageAuthorModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Droits d'exploitations de la photo</h4>
      </div>
      <div class="modal-body">
        <p>En ajoutant une photo à votre observation, vous acceptez de céder tous vos droits d'auteur et d'exploitation de l'image. NAO pourra utiliser cette photo dans toutes les fonctionnalités de la présente application ainsi que dans les médias.</p>
        <h4 class="strong">Vous devez confirmer que vous acceptez de céder tous vos droits à NAO pour cette photo.</h4>
      </div>
      <div class="modal-footer">
        <button id="imageAuthorReject" type="button" class="btn btn-default" data-dismiss="modal" onClick="imageAuthorRejected()">Annuler</button>
        <button id="imageAuthorAccept" type="button" class="btn btn-nao" data-dismiss="modal">Je cède les droits</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->