.media-object-searchresult {
	height: 3em;
}

img.obs-img-form {
	height: 12em;
}

.submit-area {
	padding-top: 2em;
}

img.img-area-obs-details {
	height: 25em;
}

.user-interface-content-container {
    color: #4a5b65;
}

.user-interface-content-container i {
    color: #4a5b65;
}

.user-interface-content-container i.icon-success {
    color: green;
}

.user-interface-content-container i.icon-delete {
    color: white;
}

.user-interface-content-container i.icon-alert {
    color: #ea4335;
}

textarea.form-control {
	height: 8em !important;
}

ul.list-unstyled li {
	background-color: #ea4335;
	color: #fff;
	font-weight: bold;
	padding: 0.5em;
}

ul.list-unstyled li span {
	display: none;
}

.form-block {
	margin-bottom: 1em;
}

.form-title {
	padding-top: 2em;
}

@media (max-width: 420px) {
	table tr {
		display: block !important;
		border-bottom: 1px solid lightgrey;
	}
	table tr td {
		border: none !important;
	}
}


#btnTop {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20vh; /* Place the button at the bottom of the page */
    right: 5vw; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    width: 2em;
    font-size: 1.7em;
    background-color: #909394;
    border: none;
}

#btnTop:hover {
	background-color: #f89a1d;
}

.label-nao-yellow {
	background-color: #f89a1d;
}

/**
 * Pagination
 */

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #00bcd4;
    border-color: #0097ab;
}

.img-center {
	display: block;
    margin: 0 auto;
}

.img-obs-details {
	max-height: 90vh;
}

.panel-nao > .panel-heading {
	background: #00bcd4;
    border-color: #3994a2;
    color: #FFFFFF;

}

.panel-nao-yellow > .panel-heading {
	background: #f89a1d;
    color: #FFFFFF;

}

.panel-redalert > .panel-heading {
	background: #ea4335;
    color: #FFFFFF;

}

.text-redalert {
	color: #ea4335;
}

.block-redalert {
	background: #ea4335;
    color: #FFFFFF;	
}