body {
    font-family: "Roboto", sans-serif !important;
}

.no-padding {
    padding: 0 !important;
    margin: 0 !important;
}

/******************************
*******************************
*********USER INTERFACE********
*******************************
*******************************/

/* Bootstrap overwrite */
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #2c3144 !important;
    color: #FFFFFF;
}
.navbar-brand.side {
    float:none !important;
}

/***********************/

/* Sidebar & navbar*/
.sidebar {
    height: 100vh;
    background-color: #2c3144;
    transition: ease-in-out 0.4s;
}

.sidebar a {
    color: #8398a3;
}

.side-nav {
    list-style: none;
    margin: 0;
    padding: 0;
}

.side-nav a {
    color: #8398a3;
    transition: ease-in-out 0.3s;
    font-weight: 700;
    padding: 0 0 0 20px;
}

.side-nav a:hover, .side-nav a:focus {
    color: #FFFFFF;
    text-decoration: none ;
}

.side-nav i {
    padding-right: 25px;
    width: 15.75px;
    height: 14px;
}

.side.navbar-user {
    background: #78c120;
    padding: 10px 0 10px 20px;
    margin: 20px 0 20px 0;
}

.user-avatar-image-sidebar {
    max-width: 60px;
    border-radius: 50%;
}

.navbar-user-avatar {
    display: inline-block;
}

.navbar-user-username {
    vertical-align: super;
    padding: 13px 0 0 10px;
    color: #FFFFFF;
    font-weight: 700;
    text-transform: capitalize;
}

.navbar-user-group {
    vertical-align: sub;
    padding-left: 10px;
    color: #FFFFFF;
    font-size: 12px;
    text-transform: capitalize;
}

li.menu {
    padding: 10px 0 10px 0;
    position: relative;
}

li.menu.menu-dropdown {
    cursor: pointer;
}

ul.sub-menu {
    padding: 10px 0 10px 29px;
    margin: 10px 0 0 0;
    background: #272b3b;
    list-style-type: none;
}

ul.sub-menu li {
    padding: 5px 0 5px 0;
}

span.menu-arrow {
    position: absolute;
    right: 0;
}

.brand-name {
    color: #FFFFFF;
}

.top-bar {
    height: 50px;
    background: #FFFFFF;
    border-bottom: 2px solid #eaeaea;
    -webkit-box-shadow: 0px 6px 5px 0px rgba(238,240,241,1);
    -moz-box-shadow: 0px 6px 5px 0px rgba(238,240,241,1);
    box-shadow: 0px 6px 5px 0px rgba(238,240,241,1);
}

.toggle-sidebar {
    display: inline-block;
    padding: 15px;
}

.page-name {
    padding: 20px;
    font-size: 2.5em;
    color: #515865;
}

/***********/

/* Page content */
.user-interface-page-header {
    background: #f7f9f9;
    min-height: 70px;
    border-bottom: 2px solid #eaeaea;
    -webkit-box-shadow: 0px 6px 5px 0px rgba(238,240,241,1);
    -moz-box-shadow: 0px 6px 5px 0px rgba(238,240,241,1);
    box-shadow: 0px 6px 5px 0px rgba(238,240,241,1);
}

#user-interface-page-content {
    transition: ease-in-out 0.4s;
}
/****************/

.user-avatar-image {
    max-height: 250px;
    max-width: 100%;
}

.user-avatar {
    max-width: 90%;
    text-align: center;
}

.user-interface-right-part {
    height: 100vh;
    overflow: auto;
    overflow-x: hidden;
    background: #f0f3f4;
}

.user-editing-password {
    font-weight: 700;
    color: #de1717;
    display: inline-block;
}

.edit-profile-avatar-input {
    margin: 10px 0 20px 0;
}

.edit-profile-submit-input {
    margin: 30px 0 0 0;
}

.edit-profile-submit {
    margin: 0 auto;
    max-width: 30%;
    padding: 0 0 30px 0;
}

.edit-user-editing-password>input {
    max-width: 60%;
    margin-top: 10px;
}

.edit-user-editing-password {
    padding: 60px 0 0 0;
}

.edit-personal-options>div>div>label, .edit-account-options>div>label, .edit-social-options>div>div>label {
    margin-top: 15px;
}

#fos_user_profile_form_current_password, #fos_user_profile_form_email, #fos_user_profile_form_username {
    max-width: 90%;
}

#fos_user_profile_form_facebook, #fos_user_profile_form_instagram, #fos_user_profile_form_pinterest {
    max-width: 90%;
}

#fos_user_profile_form_firstname, #fos_user_profile_form_name, #fos_user_profile_form_birthdate, #fos_user_profile_form_city, #fos_user_profile_form_job, #fos_user_profile_form_level {
    max-width: 50%;
}

#fos_user_profile_form_bio {
    max-width: 50%;
    min-height: 70px;
}

/******************************
*******************************
*********MEDIA QUERIES*********
*******************************
*******************************/

@media screen and (max-width: 991px) {
    .sidebar {
        display:none;
    }

    .user-interface-right-part {
        overflow: initial;
        height: 100%;
    }
}

@media screen and (min-width: 991px) and (max-width: 1400px) {
    .navbar-user-user-infos {
        padding: 0 0 0 20px;
    }
}

@media screen and (max-width: 1110px) {
    span.menu-arrow {
        right: -10px;
    }
}
