.top-bar {
    height: 50px;
    background: dimgrey;
}

.left-bar {
    width: 100%;
    background: dimgrey;
    height: 100vh;
}

.user-avatar {
    max-width: 150px;
}

.edit-profile-avatar-input {
    margin-bottom: 20px;
}

.edit-profile-submit-input {
    margin-bottom: 20px;
    float: right;
}

.no-padding {
    padding: 0 !important;
    margin: 0 !important;
}