{% extends "UserBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Ajouter une observation{% endblock %}

{% block content %}
    <h2>Ajouter une observation</h2>
    <p>formulaire d'ajout</p>
    <div class="well">
    	{{ form(formObs) }}
    </div>
{% endblock %}

{% block javascript %}
	{# Auto-completion script : finding bird name #}
	<script>
		var urlApp = "{{ path('nao_ajax_bird_name') }}";
		$('#observationbundle_observation_birdName').autocomplete({
			source: function(request, response) {
				$.ajax({
					url: urlApp + "/" + document.getElementById("observationbundle_observation_birdName").value,
					dataType: 'json',
					success: function(nameList){
						response(nameList);
					}
				});
			},
			minLenght: 3
		});
	</script>	
{% endblock %}