{% extends "UserBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Ajouter une observation{% endblock %}

{% block content %}
    <h2>Ajouter une observation</h2>
    <p>formulaire d'ajout</p>
    <div class="well">
    	{{ form(formObs) }}
    </div>
{% endblock %}