{% extends "UserBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Ajouter une observation{% endblock %}

{% block body %}
    <h2>Ajouter une observation</h2>
    <p>formulaire d'ajout</p>
{% endblock %}