{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Consulter des observations{% endblock %}

{% block body %}
    <h1>résultat de la recherche des observations</h1>
    <p>vues possibles :</p>
    <ul>
    	<li>liste</li>
    	<li>carte</li>
    	<li>combinée (liste + carte)</li>
    </ul>
{% endblock %}