{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Rechercher des observations{% endblock %}

{% block body %}
    <h1>formulaire des filtres de recherche</h1>
    <p>carte en version RESPONSIVE (pas sur smartphone)</p>
{% endblock %}