{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Rechercher des observations{% endblock %}

{% block body %}
    <h1>Rechercher des observations</h1>
    <p>carte en version RESPONSIVE (pas sur smartphone)</p>
    <div class="container">
    	<div class="row">
    		<div class="col-xs-12 col-sm-6">
    			formulaire des filtres de recherche
    			<input type="text" id="search_place" />
    		</div>
    		<div class="col-xs-12 col-sm-6">
    			<div id="map"></div>
    		</div>
    	</div>
    </div>
    

{% endblock %}

{% block javascript %}
    {{ include("ObservationBundle:Script:autocomplete.html.twig") }}
    {{ include("ObservationBundle:Script:gmapview.html.twig") }}
{% endblock %}