{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Rechercher des observations{% endblock %}

{% block body %}
    <div class="container">
    	<div class="row">
        <h1>Rechercher des observations</h1>
        <p>carte en version RESPONSIVE (pas sur smartphone)</p>
    		<div class="col-xs-12 col-sm-6">
          <p>{{ observations|length }} observations disponibles</p>
          <p>Filtres à venir :</p>
          <ul class="list-group">
            <li class="list-group-item">nom d'un oiseau</li>
            <li class="list-group-item">famille d'oiseaux</li>
            <li class="list-group-item">ordre d'oiseaux</li>
            <li class="list-group-item">observateur</li>
            <li class="list-group-item">localisation : commune, département, région</li>
            <li class="list-group-item">observations avec une image</li>
          </ul>
    		</div>
    		<div class="col-xs-12 col-sm-6">
          <div>
            <label>Centrer la carte sur un lieu</label>
            <input type="text" id="search_place" />
            <a href="#" id="centerMapFrance" class="btn btn-default btn-xs"><i class="fas fa-crosshairs fa-sm"></i> France</a>
          </div>
    			<div id="map"></div>
    		</div>
    </div>
    

{% endblock %}

{% block javascript %}
    {{ include("ObservationBundle:Script:autocomplete.html.twig") }}
    {{ include("ObservationBundle:Script:gmapview.html.twig") }}
{% endblock %}


