{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Rechercher des observations{% endblock %}

{% block body %}
    <h1>formulaire des filtres de recherche</h1>
    <p>carte en version RESPONSIVE (pas sur smartphone)</p>
    <div class="container">
    	<div class="row">
    		<div class="col-xs-12">
    			<div id="map"></div>
    		</div>
    	</div>
    </div>

{% endblock %}

{% block javascript %}
    {{ include("ObservationBundle:Script:autocomplete.html.twig") }}
    {{ include("ObservationBundle:Script:googlemap.html.twig") }}
{% endblock %}