{% extends 'AppBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - Observation{% endblock %}

{% block content %}
	{% if observation is null %}
		<div class="container">
			<div class="well text-center">Oups, cette observation n'existe pas ou plus.</div>
		</div>

    {% elseif app.user and observation.author.id != app.user.id and not observation.isValidated %}	
		<div class="container">
			<div class="well text-center">Accès refusé : vous n'êtes pas autorisé à consulter cette observation.</div>
		</div>

	{% else %}
		<div class="container">
			{% if not observation.isValidated %}
				<div class="alert alert-warning text-center">
					<h3>Cette observation n'est pas encore validée : VOUS SEUL pouvez voir cette page.</h3>
				</div>
			{% endif %}
    		<div class="row">
	        	<div class="obs-search-title">
					
					<h1>{{ observation.birdName }} 
						<div class="pull-right">
						{% if userCanVote is sameas(true) %}
							<button id="btn-obs-vote" type="submit" class="btn btn-default text-redalert"><i class="far fa-heart fa-lg"></i></button>
						{% else %}
							<button id="btn-obs-vote" type="submit" class="btn btn-default text-redalert"><i class="fas fa-heart fa-lg"></i></button>
						{% endif %}
						</div>
					</h1>

				</div>
				{{ include('ObservationBundle:Item:obsdetails.html.twig') }}
			</div>
		</div>
	{% endif %}

	
{% endblock %}

{% block javascript %}
	{{ parent() }}
	{% include 'ObservationBundle:Script:gmapfixed.html.twig' %}
	{% include 'ObservationBundle:Script:imagemodal.html.twig' %}
	{% include 'ObservationBundle:Script:vote.html.twig' %}
{% endblock %}