{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Observation{% endblock %}

{% block body %}
    <h1>Observation n°{{ obs.id }}</h1>
    <p>détails de l'observation</p>
{% endblock %}