{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Observation{% endblock %}

{% block body %}
	{% if observation is null %}
		<p>Désolé, cette observation n'existe pas ou plus.</p>
	{% else %}
		<h1>Observation n°{{ observation.id }}</h1>
    	<p>détails de l'observation</p>
	{% endif %}
{% endblock %}